.image-results-container {
    margin-top: 20px;
    margin-bottom: 40px;
}

.column-grid img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

@media screen and (max-width: 700px) {
    .column-grid > div{
        width: 50% !important;
    }
}

@media screen and (max-width: 500px) {
    .column-grid > div{
        width: 100% !important;
    }
}