.nav-bar {
    background-color: #f44336 !important;
}

.nav-bar button {
    display: none !important;
}

.nav-bar h1 {
    margin-left: 15px !important;
}

@media screen and (min-width: 1000px) {
    .nav-bar h1 {
        margin: 0 auto !important;
        width: 920px !important;
        flex: none !important;
    }
}