.search-container {
    margin: 0px 40px;
}

.radio-btn-group {
    display: flex;
    margin: 20px 0px;
}

.search-field > label:focus {
    color: #f44336 !important;
}

.no-image-placeholder {
    display: block;
    margin: 150px auto;
    max-width: 250px;
    opacity: .5;
}

@media screen and (min-width: 1000px) {
    .search-container {
        margin: 0 auto;
        width: 920px;
    }
}